<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace用来指定该xml文件对应的interface  -->
<!-- 默认idea对于该xml文件是几乎没有任何提示的，需要装一个叫 mybatis free plugins 的插件 -->
<mapper namespace="xmu.crms.mapper.ClassMapper">
    <insert id="insertCourseSelectionById">
        INSERT INTO course_selection(class_id, student_id) VALUES(#{classId},#{userId})
    </insert>
    <insert id="updateScoreRuleById" useGeneratedKeys="true" keyProperty="id">
        UPDATE class_info
        SET
            report_percentage = #{proportions.reportPercentage} ,
            presentation_percentage = #{proportions.presentationPercentage},
            five_point_percentage = #{proportions.fivePointPercentage} ,
            four_point_percentage = #{proportions.fourPointPercentage} ,
            three_point_percentage = #{proportions.threePointPercentage}
        WHERE
            id = #{classId}
    </insert>

    <update id="updateClassByClassId">
        UPDATE class_info
        <set>
            <if test="newClass.name != null">
                name = #{newClass.name},
            </if>
            <if test="newClass.course != null">
                course_id = #{newClass.course.id},
            </if>
            <if test="newClass.site != null">
                site = #{newClass.site},
            </if>
            <if test="newClass.classTime != null">
                class_time = #{newClass.classTime},
            </if>
            <if test="newClass.description != null">
                description = #{newClass.description},
            </if>
            <if test="newClass.reportPercentage != null">
                report_percentage = #{newClass.reportPercentage},
            </if>
            <if test="newClass.fivePointPercentage != null">
                five_point_percentage = #{newClass.fivePointPercentage},
            </if>
            <if test="newClass.fourPointPercentage != null">
                four_point_percentage = #{newClass.fourPointPercentage},
            </if>
            <if test="newClass.threePointPercentage != null">
                three_point_percentage = #{newClass.threePointPercentage}
            </if>
        </set>
        WHERE
          id = #{classId}
    </update>

    <delete id="deleteCourseSelectionByClassId">
        DELETE FROM course_selection WHERE class_id = #{classId};
    </delete>

    <delete id="deleteCourseSelectionByStudentIdAndClassId">
        DELETE FROM course_selection WHERE class_id = #{classId} AND student_id = #{userId}
    </delete>

    <delete id="deleteScoreRuleById">
        UPDATE class_info
        SET
            report_percentage = NULL ,
            presentation_percentage = NULL,
            five_point_percentage = NULL ,
            four_point_percentage = NULL ,
            three_point_percentage = NULL
        WHERE
            id = #{classId}
    </delete>

    <delete id="deleteClassById">
        DELETE FROM class_info WHERE id = #{classId}
    </delete>

    <select id="getClassByClassId" resultType="xmu.crms.entity.ClassInfo">
        SELECT
            id,
            name,
            course_id,
            site,
            class_time,
            report_percentage,
            presentation_percentage,
            five_point_percentage,
            four_point_percentage,
            three_point_percentage
        FROM
            class_info
        WHERE
            id = #{classId}
    </select>

    <select id="listClassByCourseId" resultType="xmu.crms.entity.ClassInfo">
        SELECT
            id,
            name,
            course_id,
            site,
            class_time,
            report_percentage,
            presentation_percentage,
            five_point_percentage,
            four_point_percentage,
            three_point_percentage
        FROM
            class_info
        WHERE
            course_id = #{courseId}
    </select>

    <select id="getScoreRuleByClassId" resultType="xmu.crms.entity.ClassInfo">
        SELECT
            presentation_percentage,
            five_point_percentage,
            four_point_percentage,
            three_point_percentage
        FROM
            class_info
        WHERE
            id = #{classId}
    </select>

    <select id="countCourseByCourseId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM course WHERE id = #{courseId}
    </select>

    <select id="countClassByClassId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM class_info WHERE id = #{classId}
    </select>

    <select id="listCourseByCourseName" resultType="xmu.crms.entity.Course">
        SELECT
            id,
            name,
            start_date,
            end_date,
            teacher_id,
            description,
            report_percentage,
            presentation_percentage,
            five_point_percentage,
            four_point_percentage,
            three_point_percentage
        FROM
            course
        WHERE
            name = #{courseName}
    </select>

</mapper>