<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace用来指定该xml文件对应的interface  -->
<!-- 默认idea对于该xml文件是几乎没有任何提示的，需要装一个叫 mybatis free plugins 的插件 -->
<mapper namespace="xmu.crms.mapper.SchoolMapper">

    <!-- id 就是方法名称 -->
    <!-- resultType 指定返回的类型，如果返回多个，一样只要指定这个类型,mybatis会自动生成一个list-->
    <!-- #{xxx}是参数的名称，参数会被填到这个位置 -->
    <select id="listSchoolByCity" resultType="xmu.crms.entity.School">
        SELECT
            id,
            name,
            province,
            city
        FROM school
        WHERE city = #{city};
    </select>

    <insert id="insertSchool" parameterType="xmu.crms.entity.School" keyProperty="school.id" useGeneratedKeys="true">
        INSERT INTO school(name, province, city)
        VALUES (#{school.name},#{school.province},#{school.city});
    </insert>

    <!--<select id="listProvince" resultType="String">
        SELECT distinct province
        FROM school
    </select>

    <select id="listCity" resultType="String">
        SELECT city
        FROM school
        WHERE province=#{province}
    </select>-->
    
    <select id="getSchoolBySchoolId" resultType="xmu.crms.entity.School">
        SELECT
            id,
            name,
            province,
            city
        FROM school
        WHERE id = #{id}
    </select>
    
    


</mapper>